

/*  *******************************************
 *  Show bookmarks toolbar only on new tabs
 *
 *  courtesy: https://www.reddit.com/r/FirefoxCSS/comments/7evwow/show_bookmarks_toolbar_only_on_new_tab/
 *  ******************************************
 */
#main-window #PersonalToolbar
{
  visibility: collapse !important;
  opacity:0 !important;
  margin-top: -23px !important;
/*    transition: all 0.2s ease 0.2s !important;  */
}

#main-window[title^="Mozilla Firefox"] #PersonalToolbar
/* , #main-window[title^="about:newtab"] #PersonalToolbar */
/* , #main-window[title^="New Tab"] #PersonalToolbar */
/* , #main-window[title^="Firefox"] #PersonalToolbar */
/* , #main-window[title^="Nightly"] #PersonalToolbar  */
{
  visibility: visible !important;
  margin-top: 32px !important;
/*   transition: all 0.2s ease 0.2s !important; */
  opacity: 1 !important;
  /* show bookmarks toolbar */
  max-height: 32px !important;
}



/*  *******************************************
 *  move bookmarks toolbar to bottom +
 *  style bookmarks toolbar
 *
 *  courtesy: https://github.com/Aris-t2/CustomCSSforFx/blob/master/classic/userChrome.css
 *  ******************************************
 */
:root {  --addonbar_height: 32px;   }


#main-window:not([chromehidden*="toolbar"]) #navigator-toolbox > #PersonalToolbar {
  -moz-window-dragging: no-drag;
  display: block !important;
  position: fixed !important;
  bottom: 0px !important;
  width: 100% !important;
  height: var(--addonbar_height) !important;
  -moz-padding-start: 1px !important;
  -moz-padding-end: 1px !important;
  border-top: 1px solid var(--toolbox-border-bottom-color) !important;
}

#PersonalToolbar > *  {
  min-height: calc( var(--addonbar_height) - 3px); !important;
}


/*  *******************************************
 *  Theme tweaks
 *  ******************************************
 */

/* #back-button,
#forward-button,
#stop-button,
#reload-button,
*/
#home-button,
.tab-close-button {
    display: none !important;
}


#urlbar,
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    -moz-appearance: none;
    margin: 4px 0px !important;
    min-height: 24px !important;
}
